In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
gamefile = pd.read_csv('C:\\Users\\bethf\\Desktop\\Resources\\purchase_data.csv')

gamedata = DataFrame(gamefile)

gamedata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count
 
Display the total number of players

In [3]:
players_summary = gamedata.groupby(["SN"])["SN"].value_counts()

players_summary_total = DataFrame({"Total Players":players_summary.count()},index=[0])

players_summary_total

   Total Players
0            576

Purchasing Analysis (Total)
 
Run basic calculations to obtain number of unique items, average price, etc.


Create a summary data frame to hold the results


Optional: give the displayed data cleaner formatting


Display the summary data frame

In [4]:
#items = len(gamedata["Item Name"].unique()
#avgprice = round(gamedata["Price"].mean(),2)
#purchases = gamedata["Purchase ID"].count()
#revenue = gamedata["Price"].sum()

purchasing_analysis_total_summary_table = DataFrame({"Number of Unique Items":len(gamedata["Item Name"].unique()),\
                                                     "Average Price ($)":round(gamedata["Price"].mean(),2),\
                                                    "Number of Purchases":gamedata["Purchase ID"].count(),\
                                                     "Total Revenue ($)":gamedata["Price"].sum()},index=[0])
purchasing_analysis_total_summary_table

,Number of Unique Items,Average Price ($),Number of Purchases,Total Revenue ($)
0,179,3.05,780,2379.77

Gender Demographics
 
Percentage and Count of Male Players


Percentage and Count of Female Players


Percentage and Count of Other / Non-Disclosed

In [5]:
genders = gamedata.drop_duplicates(subset=["SN"])["Gender"].value_counts()

gender_demographic_summary_table = DataFrame({"Total Count":genders})

gender_demographic_summary_table["Percentage of Players"] = gender_demographic_summary_table["Total Count"] \
                                    / gender_demographic_summary_table["Total Count"].sum() * 100

gender_demographic_summary_table

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

Purchasing Analysis (Gender)
 
Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


Create a summary data frame to hold the results


Optional: give the displayed data cleaner formatting


Display the summary data frame

In [6]:
purchasing_analysis_gender_summary_table = DataFrame({"Purchase Count":gamedata.groupby("Gender")["Purchase ID"].count(),\
                                                      "Average Purchase Price":round(gamedata.groupby("Gender")["Price"].mean(),2),\
                                                     "Total Purchase Value":gamedata.groupby("Gender")["Price"].sum(),\
                                                     "Average Purchase per person":round(gamedata.groupby("Gender")["Price"].sum()/genders,2)})
purchasing_analysis_gender_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase per person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

Age Demographics
 
Establish bins for ages


Categorize the existing players using the age bins. Hint: use pd.cut()


Calculate the numbers and percentages by age group


Create a summary data frame to hold the results


Optional: round the percentage column to two decimal points


Display Age Demographics Table

In [7]:
bins = [0, 9, 14, 19, 24, 29, 34,39,999]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39", "40+"]
gamedata2 = gamedata
 # Slice the data and place it into bins
gamedata2["Age Groups"] = pd.cut(gamedata["Age"], bins, labels=group_labels)
gamedata2.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

Purchasing Analysis (Age)
 
Bin the purchase_data data frame by age


Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


Create a summary data frame to hold the results


Optional: give the displayed data cleaner formatting


Display the summary data frame

Top Spenders
 
Run basic calculations to obtain the results in the table below


Create a summary data frame to hold the results


Sort the total purchase value column in descending order


Optional: give the displayed data cleaner formatting


Display a preview of the summary data frame

Most Popular Items
 
Retrieve the Item ID, Item Name, and Item Price columns


Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


Create a summary data frame to hold the results


Sort the purchase count column in descending order


Optional: give the displayed data cleaner formatting


Display a preview of the summary data frame

 Most Profitable Items
 
Sort the above table by total purchase value in descending order


Optional: give the displayed data cleaner formatting


Display a preview of the data frame