# Data Analysis

In [13]:
# Dependencies and Setup
import pandas as pd
from pandas import DataFrame

In [14]:
gamefile = pd.read_csv('C:\\Users\\bethf\\Desktop\\Resources\\purchase_data.csv')

gamedata = DataFrame(gamefile)

gamedata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count

In [15]:
players_summary = gamedata.groupby(["SN"])["SN"].value_counts()

players_summary_total = DataFrame({"Total Players":players_summary.count()},index=[0])

players_summary_total

   Total Players
0            576

Purchasing Analysis (Total)

In [16]:
purchasing_analysis_total_summary_table = DataFrame({"Number of Unique Items":gamedata["Item ID"].nunique(),\
                                                     "Average Price":gamedata["Price"].mean(),\
                                                    "Number of Purchases":gamedata["Purchase ID"].count(),\
                                                     "Total Revenue":gamedata["Price"].sum()},index=[0])
purchasing_analysis_total_summary_table["Average Price"] = purchasing_analysis_total_summary_table["Average Price"].map("${:.2f}".format)
purchasing_analysis_total_summary_table["Total Revenue"] = purchasing_analysis_total_summary_table["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_total_summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

Gender Demographics

In [17]:
genders = gamedata.drop_duplicates(subset=["SN"])["Gender"].value_counts()

gender_demographic_summary_table = DataFrame({"Total Count":genders})

gender_demographic_summary_table["Percentage of Players"] = gender_demographic_summary_table["Total Count"] \
                                    / gender_demographic_summary_table["Total Count"].sum() * 100

gender_demographic_summary_table["Percentage of Players"] = gender_demographic_summary_table["Percentage of Players"].map("{:.2f}%".format)
gender_demographic_summary_table

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchasing Analysis (Gender)

In [18]:
purchasing_analysis_gender_summary_table = DataFrame({"Purchase Count":gamedata.groupby("Gender")["Purchase ID"].count(),\
                                                      "Average Purchase Price":gamedata.groupby("Gender")["Price"].mean(),\
                                                     "Total Purchase Value":gamedata.groupby("Gender")["Price"].sum(),\
                                                     "Average Purchase per person":gamedata.groupby("Gender")["Price"].sum()/genders})

purchasing_analysis_gender_summary_table["Average Purchase Price"] = purchasing_analysis_gender_summary_table["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_gender_summary_table["Total Purchase Value"] = purchasing_analysis_gender_summary_table["Total Purchase Value"].map("${:.2f}".format)
purchasing_analysis_gender_summary_table["Average Purchase per person"] = purchasing_analysis_gender_summary_table["Average Purchase per person"].map("${:.2f}".format)
purchasing_analysis_gender_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase per person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

Age Demographics

In [19]:
bins = [0, 9, 14, 19, 24, 29, 34,39,999] # Make Bins for ages
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39", "40+"] #Make Names for age groups
gamedata2 = gamedata #Copy data frame to preserve original
 # Slice the data and place it into bins
gamedata2["Age Groups"] = pd.cut(gamedata["Age"], bins, labels=group_labels)

ages = gamedata.drop_duplicates(subset=["SN"])["Age Groups"].value_counts()

age_demographic_summary_table = DataFrame({"Total Count":ages})

age_demographic_summary_table["Percentage of Players"] = age_demographic_summary_table["Total Count"] \
                                    / age_demographic_summary_table["Total Count"].sum() * 100
age_demographic_summary_table["Percentage of Players"] = age_demographic_summary_table["Percentage of Players"].map("{:.2f}%".format)
age_demographic_summary_table_sorted = age_demographic_summary_table.sort_index()

age_demographic_summary_table_sorted

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

Purchasing Analysis (Age)

In [20]:
age_purchasing_summary_table = DataFrame({"Purchase Count":gamedata2.groupby("Age Groups")["Purchase ID"].count(),\
                                            "Average Purchase Price":gamedata2.groupby("Age Groups")["Price"].mean(),\
                                            "Total Purchase Value":gamedata2.groupby("Age Groups")["Price"].sum(),\
                                            "Average Purchase per person":gamedata2.groupby("Age Groups")["Price"].sum()/ages})

age_purchasing_summary_table["Average Purchase Price"] = age_purchasing_summary_table["Average Purchase Price"].map("${:.2f}".format)
age_purchasing_summary_table["Total Purchase Value"] = age_purchasing_summary_table["Total Purchase Value"].map("${:.2f}".format)
age_purchasing_summary_table["Average Purchase per person"] = age_purchasing_summary_table["Average Purchase per person"].map("${:.2f}".format)

age_purchasing_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase per person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

Top Spenders

In [21]:
top_spenders_summary_table = DataFrame({"Purchase Count":gamedata.groupby("SN")["Purchase ID"].count(),\
                                            "Average Purchase Price":gamedata.groupby("SN")["Price"].mean(),\
                                            "Total Purchase Value":gamedata.groupby("SN")["Price"].sum()})

top_spenders_summary_table_sorted = top_spenders_summary_table.sort_values(["Total Purchase Value"], ascending=False)

top_spenders_summary_table_sorted["Average Purchase Price"] = top_spenders_summary_table_sorted["Average Purchase Price"].map("${:.2f}".format)
top_spenders_summary_table_sorted["Total Purchase Value"] = top_spenders_summary_table_sorted["Total Purchase Value"].map("${:.2f}".format)
top_spenders_summary_table_sorted.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

Most Popular Items

In [22]:
most_popular_items = gamedata.groupby(["Item ID","Item Name"])      

most_popular_items_summary_table = DataFrame({"Purchase Count":most_popular_items["Purchase ID"].count(),\
                                           "Item Price":most_popular_items["Price"].max(),\
                                           "Total Purchase Value":most_popular_items["Price"].sum()})

most_popular_items_summary_table_sorted = most_popular_items_summary_table.sort_values("Purchase Count", ascending=False)

most_popular_items_summary_table_sorted["Item Price"] = most_popular_items_summary_table_sorted["Item Price"].map("${:.2f}".format)
most_popular_items_summary_table_sorted["Total Purchase Value"] = most_popular_items_summary_table_sorted["Total Purchase Value"].map("${:.2f}".format)
most_popular_items_summary_table_sorted.head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
103,Singed Scalpel,8,$4.35,$34.80
75,Brutality Ivory Warmace,8,$2.42,$19.36
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
59,"Lightning, Etcher of the King",8,$4.23,$33.84

 Most Profitable Items

In [23]:
most_profitable_items_summary_table_sorted = most_popular_items_summary_table.sort_values("Total Purchase Value", ascending=False)

most_profitable_items_summary_table_sorted["Item Price"] = most_profitable_items_summary_table_sorted["Item Price"].map("${:.2f}".format)
most_profitable_items_summary_table_sorted["Total Purchase Value"] = most_profitable_items_summary_table_sorted["Total Purchase Value"].map("${:.2f}".format)
most_profitable_items_summary_table_sorted.head(25)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
160,Azurewrath,6,$4.40,$26.40
25,Hero Cane,6,$4.35,$26.10
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
139,"Mercy, Katana of Dismay",5,$4.94,$24.70
128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.70
141,Persuasion,7,$3.19,$22.33
87,"Deluge, Edge of the West",5,$4.43,$22.15
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
136,Ghastly Adamantite Protector,6,$3.58,$21.48
65,Conqueror Adamantite Mace,5,$4.24,$21.20
101,Final Critic,5,$4.19,$20.95
102,Avenger,6,$3.44,$20.64
133,Faith's Scimitar,5,$4.09,$20.45

Most profitable share of revenue

In [24]:
most_profitable_items_sum10 = most_popular_items_summary_table["Total Purchase Value"].nlargest(n=10, keep='first').sum()
most_profitable_items_sum25 = most_popular_items_summary_table["Total Purchase Value"].nlargest(n=25, keep='first').sum()
revenue = gamedata["Price"].sum()
most_profitable_share_of_total = DataFrame({"Top Ten Revenue":most_profitable_items_sum10,\
                                            "Percentage of total(10)":most_profitable_items_sum10/revenue*100,\
                                            "Top Twenty-Five Revenue":most_profitable_items_sum25,\
                                          "Percentage of total(25)":most_profitable_items_sum25/revenue*100},index=[0])

most_profitable_share_of_total["Top Ten Revenue"] = most_profitable_share_of_total["Top Ten Revenue"].map("${:.2f}".format)
most_profitable_share_of_total["Percentage of total(10)"] = most_profitable_share_of_total["Percentage of total(10)"].map("{:.2f}%".format)
most_profitable_share_of_total["Top Twenty-Five Revenue"] = most_profitable_share_of_total["Top Twenty-Five Revenue"].map("${:.2f}".format)
most_profitable_share_of_total["Percentage of total(25)"] = most_profitable_share_of_total["Percentage of total(25)"].map("{:.2f}%".format)
most_profitable_share_of_total

,Top Ten Revenue,Percentage of total(10),Top Twenty-Five Revenue,Percentage of total(25)
0,$364.81,15.33%,$713.18,29.97%