# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

school_data_to_load = pd.read_csv('C:\\Users\\bethf\\Desktop\\Resources\\schools.csv')
student_data_to_load = pd.read_csv('C:\\Users\\bethf\\Desktop\\Resources\\students.csv')

# Read School and Student Data File and store into Pandas Data Frames
school_data = (school_data_to_load)
student_data = (student_data_to_load)

# Combine the data into a single dataset
schooldatacomplete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

schooldatacomplete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [32]:
totalschools = schooldatacomplete["school_name"].nunique()
totalstudents = schooldatacomplete["Student ID"].nunique()
totalbudget = school_data["budget"].sum()
averagemathscore = schooldatacomplete["math_score"].mean()
averagereadingscore = schooldatacomplete["reading_score"].mean()
schoolspassingmath = (schooldatacomplete.loc[schooldatacomplete["math_score"]>=70,"math_score"].count()/totalstudents)*100
schoolspassingreading = (schooldatacomplete.loc[schooldatacomplete["reading_score"]>=70,"reading_score"].count()/totalstudents)*100
schoolspassingoverall = (averagemathscore + averagereadingscore) / 2

district_summary_table = DataFrame({"Total Schools":totalschools,\
                                    "Total Students":totalstudents,\
                                    "Total Budget":totalbudget,\
                                    "Average Math Score":averagemathscore,\
                                    "Average Reading Score":averagereadingscore,\
                                    "% Passing Math":schoolspassingmath,\
                                    "% Passing Reading":schoolspassingreading,\
                                    "% Overall Passing Rate":schoolspassingoverall},index=[0])

#'{0:,.2f}'.format(big_float) # .2 means round two decimals
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].map("${:,.2f}".format())
district_summary_table

IndexError: tuple index out of range

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [4]:
studentsperschool = schooldatacomplete.groupby(["school_name","type"])["Student ID"].count()
schoolbudget = schooldatacomplete.groupby(["school_name","type"])["budget"].max()
mathpassingper = schooldatacomplete[schooldatacomplete["math_score"]>=70].groupby("school_name")["Student ID"].count()/studentsperschool
readingpassingper = schooldatacomplete[schooldatacomplete["reading_score"]>=70].groupby("school_name")["Student ID"].count()/studentsperschool

school_summary = DataFrame({"Total Students":studentsperschool,\
                            "Total School Budget":schoolbudget,\
                            "Per Student Budget":schoolbudget/studentsperschool,\
                            "Average Math Score":schooldatacomplete.groupby(["school_name","type"])["math_score"].mean(),\
                            "Average Reading Score":schooldatacomplete.groupby(["school_name","type"])["reading_score"].mean(),\
                            "% Passing Math":mathpassingper,\
                            "% Passing Reading":readingpassingper,\
                            "% Overall Passing Rate":(mathpassingper + readingpassingper)/2})
school_summary

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [5]:
top_performing_schools = school_summary.sort_values("% Overall Passing Rate",ascending =False)

top_performing_schools.head(15)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,type,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [6]:
bottom_performing_schools = school_summary.sort_values("% Overall Passing Rate")

bottom_performing_schools.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,type,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [7]:
grade9math = schooldatacomplete.loc[schooldatacomplete["grade"]=="9th","grade":"math_score"]
grade10math = schooldatacomplete.loc[schooldatacomplete["grade"]=="10th","grade":"math_score"]
grade11math = schooldatacomplete.loc[schooldatacomplete["grade"]=="11th","grade":"math_score"]
grade12math = schooldatacomplete.loc[schooldatacomplete["grade"]=="12th","grade":"math_score"]

math_scores_by_grade = DataFrame({"9th":grade9math.groupby(["school_name"])["math_score"].mean(),\
                                  "10th":grade10math.groupby(["school_name"])["math_score"].mean(),\
                                  "11th":grade11math.groupby(["school_name"])["math_score"].mean(),\
                                  "12th":grade12math.groupby(["school_name"])["math_score"].mean()})

math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [13]:
grade9reading = schooldatacomplete.loc[schooldatacomplete["grade"]=="9th","grade":"reading_score"]
grade10reading = schooldatacomplete.loc[schooldatacomplete["grade"]=="10th","grade":"reading_score"]
grade11reading = schooldatacomplete.loc[schooldatacomplete["grade"]=="11th","grade":"reading_score"]
grade12reading = schooldatacomplete.loc[schooldatacomplete["grade"]=="12th","grade":"reading_score"]

reading_scores_by_grade = DataFrame({"9th":grade9reading.groupby(["school_name"])["reading_score"].mean(),\
                                  "10th":grade10reading.groupby(["school_name"])["reading_score"].mean(),\
                                  "11th":grade11reading.groupby(["school_name"])["reading_score"].mean(),\
                                  "12th":grade12reading.groupby(["school_name"])["reading_score"].mean()})

reading_scores_by_grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [22]:
spending_bins = [0, 585, 615, 645, 675]
group_labels = ["<$585", "$585-615", "$615-645", "$645-675"]

top_performing_schools["School Spending"] = pd.cut(top_performing_schools["Per Student Budget"], spending_bins, labels=group_labels)

scores_by_school_spending_summary_table = DataFrame({"Average Math Score":top_performing_schools.groupby("School Spending")["Average Math Score"].mean(),\
                                                    "Average Reading Score":top_performing_schools.groupby("School Spending")["Average Reading Score"].mean(),\
                                                    "% Passing Math":top_performing_schools.groupby("School Spending")["% Passing Math"].mean(),\
                                                    "% Passing Reading":top_performing_schools.groupby("School Spending")["% Passing Reading"].mean(),\
                                                    "% Overall Passing Rate":top_performing_schools.groupby("School Spending")["% Overall Passing Rate"].mean()})

scores_by_school_spending_summary_table

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Spending,,,,,
<$585,83.455399,83.933814,0.934601,0.966109,0.950355
$585-615,83.599686,83.885211,0.942309,0.959003,0.950656
$615-645,79.079225,81.891436,0.756682,0.861066,0.808874
$645-675,76.997210,81.027843,0.661648,0.811340,0.736494

## Scores by School Size

* Perform the same operations as above, based on school size.

In [26]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

top_performing_schools["School Size"] = pd.cut(top_performing_schools["Total Students"], size_bins, labels=group_names)

scores_by_school_size_summary_table = DataFrame({"Average Math Score":top_performing_schools.groupby("School Size")["Average Math Score"].mean(),\
                                                    "Average Reading Score":top_performing_schools.groupby("School Size")["Average Reading Score"].mean(),\
                                                    "% Passing Math":top_performing_schools.groupby("School Size")["% Passing Math"].mean(),\
                                                    "% Passing Reading":top_performing_schools.groupby("School Size")["% Passing Reading"].mean(),\
                                                    "% Overall Passing Rate":top_performing_schools.groupby("School Size")["% Overall Passing Rate"].mean()})
scores_by_school_size_summary_table

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,0.935502,0.960994,0.948248
Medium (1000-2000),83.374684,83.864438,0.935997,0.967907,0.951952
Large (2000-5000),77.746417,81.344493,0.699634,0.827666,0.763650

## Scores by School Type

* Perform the same operations as above, based on school type.

In [27]:
scores_by_school_type_summary_table = DataFrame({"Average Math Score":top_performing_schools.groupby("type")["Average Math Score"].mean(),\
                                                    "Average Reading Score":top_performing_schools.groupby("type")["Average Reading Score"].mean(),\
                                                    "% Passing Math":top_performing_schools.groupby("type")["% Passing Math"].mean(),\
                                                    "% Passing Reading":top_performing_schools.groupby("type")["% Passing Reading"].mean(),\
                                                    "% Overall Passing Rate":top_performing_schools.groupby("type")["% Overall Passing Rate"].mean()})
scores_by_school_type_summary_table

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.951037
District,76.956733,80.966636,0.665485,0.807991,0.736738