# PyCity Schools Analysis

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd
from pandas import DataFrame

school_data_to_load = pd.read_csv('C:\\Users\\bethf\\Desktop\\Resources\\schools.csv')
student_data_to_load = pd.read_csv('C:\\Users\\bethf\\Desktop\\Resources\\students.csv')

# Read School and Student Data File and store into Pandas Data Frames
school_data = (school_data_to_load)
student_data = (student_data_to_load)

# Combine the data into a single dataset
schooldatacomplete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

schooldatacomplete = schooldatacomplete.rename(columns={"school_name": "School Name","type":"Type"})

schooldatacomplete.head()

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,Type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [12]:
#Calculations to find values for dataframe
totalschools = schooldatacomplete["School Name"].nunique() #Unique school name to get count of schools
totalstudents = schooldatacomplete["Student ID"].nunique() #Unique student IDs to get count of students
totalbudget = school_data["budget"].sum() #Sum of budget for each school
averagemathscore = schooldatacomplete["math_score"].mean() #Average math score for entire district
averagereadingscore = schooldatacomplete["reading_score"].mean() #Average reading score for entire district
#Scores greater than 70 divided by student count to get passing rate for entire district
schoolspassingmath = (schooldatacomplete.loc[schooldatacomplete["math_score"]>=70,"math_score"].count()/totalstudents)*100
schoolspassingreading = (schooldatacomplete.loc[schooldatacomplete["reading_score"]>=70,"reading_score"].count()/totalstudents)*100
schoolspassingoverall = (averagemathscore + averagereadingscore) / 2

#Construct dataframe for values
district_summary_table = DataFrame({"Total Schools":totalschools,\
                                    "Total Students":totalstudents,\
                                    "Total Budget":totalbudget,\
                                    "Average Math Score":averagemathscore,\
                                    "Average Reading Score":averagereadingscore,\
                                    "% Passing Math":schoolspassingmath,\
                                    "% Passing Reading":schoolspassingreading,\
                                    "% Overall Passing Rate":schoolspassingoverall},index=[0])

#Summary table formatting
district_summary_table["Total Students"] = district_summary_table["Total Students"].map("{:,.0f}".format)
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].map("${:,.2f}".format)
district_summary_table["% Passing Math"] = district_summary_table["% Passing Math"].map("{:.2f}%".format)
district_summary_table["% Passing Reading"] = district_summary_table["% Passing Reading"].map("{:.2f}%".format)
district_summary_table["% Overall Passing Rate"] = district_summary_table["% Overall Passing Rate"].map("{:.2f}%".format)

district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.98%,85.81%,80.43%

## School Summary

In [13]:
#Above caluculations grouped by school
studentsperschool = schooldatacomplete.groupby(["School Name","Type"])["Student ID"].count()
schoolbudget = schooldatacomplete.groupby(["School Name","Type"])["budget"].max()
mathpassingper = schooldatacomplete[schooldatacomplete["math_score"]>=70].groupby("School Name")["Student ID"].count()/studentsperschool*100
readingpassingper = schooldatacomplete[schooldatacomplete["reading_score"]>=70].groupby("School Name")["Student ID"].count()/studentsperschool*100

school_summary = DataFrame({"Total Students":studentsperschool,\
                            "Total School Budget":schoolbudget,\
                            "Per Student Budget":schoolbudget/studentsperschool,\
                            "Average Math Score":schooldatacomplete.groupby(["School Name","Type"])["math_score"].mean(),\
                            "Average Reading Score":schooldatacomplete.groupby(["School Name","Type"])["reading_score"].mean(),\
                            "% Passing Math":mathpassingper,\
                            "% Passing Reading":readingpassingper,\
                            "% Overall Passing Rate":(mathpassingper + readingpassingper)/2})

#Summary table formatting
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)

school_summary

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,Type,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,94.972222

## Top Performing Schools (By Passing Rate)

In [14]:
#Above table sorted to show top performing schools
top_performing_schools = school_summary.sort_values("% Overall Passing Rate",ascending =False)

top_performing_schools

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,Type,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,94.972222
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,73.293323

## Bottom Performing Schools (By Passing Rate)

In [15]:
#Above table sorted to show bottom performing schools
bottom_performing_schools = school_summary.sort_values("% Overall Passing Rate")

bottom_performing_schools.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,Type,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

In [16]:
grade9math = schooldatacomplete.loc[schooldatacomplete["grade"]=="9th","grade":"math_score"]
grade10math = schooldatacomplete.loc[schooldatacomplete["grade"]=="10th","grade":"math_score"]
grade11math = schooldatacomplete.loc[schooldatacomplete["grade"]=="11th","grade":"math_score"]
grade12math = schooldatacomplete.loc[schooldatacomplete["grade"]=="12th","grade":"math_score"]

math_scores_by_grade = DataFrame({"9th":grade9math.groupby(["School Name"])["math_score"].mean(),\
                                  "10th":grade10math.groupby(["School Name"])["math_score"].mean(),\
                                  "11th":grade11math.groupby(["School Name"])["math_score"].mean(),\
                                  "12th":grade12math.groupby(["School Name"])["math_score"].mean()})

math_scores_by_grade

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [17]:
grade9reading = schooldatacomplete.loc[schooldatacomplete["grade"]=="9th","grade":"reading_score"]
grade10reading = schooldatacomplete.loc[schooldatacomplete["grade"]=="10th","grade":"reading_score"]
grade11reading = schooldatacomplete.loc[schooldatacomplete["grade"]=="11th","grade":"reading_score"]
grade12reading = schooldatacomplete.loc[schooldatacomplete["grade"]=="12th","grade":"reading_score"]

reading_scores_by_grade = DataFrame({"9th":grade9reading.groupby(["School Name"])["reading_score"].mean(),\
                                  "10th":grade10reading.groupby(["School Name"])["reading_score"].mean(),\
                                  "11th":grade11reading.groupby(["School Name"])["reading_score"].mean(),\
                                  "12th":grade12reading.groupby(["School Name"])["reading_score"].mean()})

reading_scores_by_grade.head(15)

                             9th       10th       11th       12th
School Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [18]:
spending_bins = [0, 585, 615, 645, 675]
group_labels = ["<$585", "$585-615", "$615-645", "$645-675"]

top_performing_schools["School Spending"] = pd.cut(top_performing_schools["Per Student Budget"], spending_bins, labels=group_labels)

scores_by_school_spending_summary_table = DataFrame({"Average Math Score":top_performing_schools.groupby("School Spending")["Average Math Score"].mean(),\
                                                    "Average Reading Score":top_performing_schools.groupby("School Spending")["Average Reading Score"].mean(),\
                                                    "% Passing Math":top_performing_schools.groupby("School Spending")["% Passing Math"].mean(),\
                                                    "% Passing Reading":top_performing_schools.groupby("School Spending")["% Passing Reading"].mean(),\
                                                    "% Overall Passing Rate":top_performing_schools.groupby("School Spending")["% Overall Passing Rate"].mean()})

scores_by_school_spending_summary_table

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Spending,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

In [20]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

top_performing_schools["School Size"] = pd.cut(top_performing_schools["Total Students"], size_bins, labels=group_names)

scores_by_school_size_summary_table = DataFrame({"Average Math Score":top_performing_schools.groupby("School Size")["Average Math Score"].mean(),\
                                                    "Average Reading Score":top_performing_schools.groupby("School Size")["Average Reading Score"].mean(),\
                                                    "% Passing Math":top_performing_schools.groupby("School Size")["% Passing Math"].mean(),\
                                                    "% Passing Reading":top_performing_schools.groupby("School Size")["% Passing Reading"].mean(),\
                                                    "% Overall Passing Rate":top_performing_schools.groupby("School Size")["% Overall Passing Rate"].mean()})
scores_by_school_size_summary_table

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

In [21]:
scores_by_school_type_summary_table = DataFrame({"Average Math Score":top_performing_schools.groupby("Type")["Average Math Score"].mean(),\
                                                    "Average Reading Score":top_performing_schools.groupby("Type")["Average Reading Score"].mean(),\
                                                    "% Passing Math":top_performing_schools.groupby("Type")["% Passing Math"].mean(),\
                                                    "% Passing Reading":top_performing_schools.groupby("Type")["% Passing Reading"].mean(),\
                                                    "% Overall Passing Rate":top_performing_schools.groupby("Type")["% Overall Passing Rate"].mean()})
scores_by_school_type_summary_table

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757